# COVID-19の感染者数

## 問いの設定

あなたは、東京都のコロナ対策の担当者です。感染の広がりの状況を分析して、対策案を検討する様に指示されています。
1. 現在コロナの感染はどの程度広がっているのか
2. 今後どの程度広がることが想定されるのか
3. 医療提供体制との関連はどうか

## データの取得

1. (1)と(2)については、現在と過去のコロナの症例数を確認する必要がある
2. 東京都内の医療提供体制の状況を把握する必要がある
3. すべての病院の病床の空き数をリアルタイムにカウントすることは難しいので、行政が簡単に取得できるデータが良い

東京都が持っているデータがあるので、これを使う。  
[https://portal.data.metro.tokyo.lg.jp/1097/](https://portal.data.metro.tokyo.lg.jp/1097/)

* 東京都 新型コロナウイルス感染症検査陽性者の状況
* 東京都 #7119における発熱等相談件数
* 東京都 新型コロナウイルス感染症検査の陽性率・検査人数
* 東京都 救急医療の東京ルールの適用件数
* 東京都 新型コロナウイルス感染症入院患者数
* 東京都 新型コロナウイルス感染症重症患者数
* 東京都 新型コロナウイルス感染症発症日別による陽性者数の推移
* 東京都 新型コロナウイルス感染症確定日別による陽性者数の推移
* 東京都 新型コロナウイルス感染症陽性者数（区市町村別）
* 東京都 新型コロナウイルス感染症検査実施件数
* 東京都 新型コロナ受診相談窓口相談件数
* 東京都 新型コロナコールセンター相談件数
* 東京都 新型コロナウイルス陽性患者発表詳細

のデータがある。

まずは現在と過去のコロナの症例数を確認したいので、１つ目のデータを入手してみる。

In [4]:
# ライブラリの読み込み
import pandas as pd

In [8]:
# データの読み込み

url = "https://data.stopcovid19.metro.tokyo.lg.jp/130001_tokyo_covid19_details_testing_positive_cases.csv"
df = pd.read_csv(url)

In [9]:
# データの検査

df.shape

(936, 13)

In [11]:
df.head(5)

,全国地方公共団体コード,都道府県名,市区町村名,公表_年月日,陽性者数（累計）,入院中,軽症・中等症,重症,宿泊療養,自宅療養,調整中,死亡,退院
0,130001,東京都,NaN,2020-02-28,37,21,16,5,NaN,NaN,NaN,1,15
1,130001,東京都,NaN,2020-02-29,37,21,16,5,NaN,NaN,NaN,1,15
2,130001,東京都,NaN,2020-03-01,39,23,18,5,NaN,NaN,NaN,1,15
3,130001,東京都,NaN,2020-03-02,39,23,18,5,NaN,NaN,NaN,1,15
4,130001,東京都,NaN,2020-03-03,40,22,17,5,NaN,NaN,NaN,1,17

In [13]:
df.dtypes

全国地方公共団体コード      int64
都道府県名           object
市区町村名          float64
公表_年月日          object
陽性者数（累計）         int64
入院中              int64
軽症・中等症           int64
重症               int64
宿泊療養           float64
自宅療養           float64
調整中            float64
死亡               int64
退院               int64
dtype: object

In [15]:
df.describe()

,全国地方公共団体コード,市区町村名,陽性者数（累計）,入院中,軽症・中等症,重症,宿泊療養,自宅療養,調整中,死亡,退院
count,936.0,0.0,9.360000e+02,936.000000,936.000000,936.000000,862.000000,862.000000,853.000000,936.000000,9.360000e+02
mean,130001.0,NaN,5.251997e+05,1762.141026,1711.701923,50.439103,1479.958237,19815.987239,13913.623681,2156.584402,4.889889e+05
std,0.0,NaN,7.504749e+05,1207.745553,1174.918614,55.123027,1682.068794,37889.118677,23648.904215,1658.576422,7.038318e+05
min,130001.0,NaN,3.700000e+01,21.000000,16.000000,0.000000,18.000000,5.000000,10.000000,1.000000,1.500000e+01
25%,130001.0,NaN,2.902725e+04,943.750000,920.000000,15.000000,261.500000,412.250000,407.000000,436.000000,2.675175e+04
50%,130001.0,NaN,1.649435e+05,1524.000000,1482.000000,35.500000,902.000000,1343.500000,1015.000000,2131.000000,1.590965e+05
75%,130001.0,NaN,5.541288e+05,2549.250000,2480.500000,64.000000,1974.750000,21222.500000,12374.000000,3199.250000,4.350022e+05
max,130001.0,NaN,3.109168e+06,4459.000000,4423.000000,297.000000,7176.000000,218662.000000,107340.000000,5744.000000,3.035846e+06

## データの探索

## 仮説の設定

## データの分析

## データの説明