# Matplotlibの練習

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/shinchu/dataviz-notebooks/blob/main/week_2/matplotlib-exercises.ipynb)

Matplotlibを使って、演習1で作った2つの整然データの可視化をしてみましょう。

In [4]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
## If necessary, import other libraries here

In [1]:
covid_data = "https://covid19.mhlw.go.jp/public/opendata/newly_confirmed_cases_daily.csv"

In [5]:
df_covid = pd.read_csv(covid_data)
df_covid

,Date,ALL,Hokkaido,Aomori,Iwate,Miyagi,Akita,Yamagata,Fukushima,Ibaraki,...,Ehime,Kochi,Fukuoka,Saga,Nagasaki,Kumamoto,Oita,Miyazaki,Kagoshima,Okinawa
0,2020/1/16,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020/1/17,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020/1/18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020/1/19,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020/1/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,2022/10/8,26761,1808,258,219,502,332,297,521,512,...,282,124,908,163,227,383,205,228,360,446
997,2022/10/9,22798,1407,177,176,451,225,289,424,547,...,226,105,903,128,147,283,183,162,242,227
998,2022/10/10,13041,925,113,112,349,94,183,326,526,...,126,46,331,39,124,128,123,119,181,104
999,2022/10/11,13123,961,161,99,297,53,223,302,288,...,114,68,280,51,138,197,107,134,144,159
1000,2022/10/12,45505,4023,554,480,936,884,1029,986,224,...,504,247,1185,330,354,740,341,312,495,613

In [6]:
population_data = "https://raw.githubusercontent.com/JaehyunSong/RBook/master/Data/Population2015.csv"

In [8]:
df_pop = pd.read_csv(population_data)
df_pop

    都道府県   区分       人口        面積
0    北海道  総人口  5381733  83424.31
1    NaN  外国人    21676  83424.31
2    青森県  総人口  1308265   9645.59
3    NaN  外国人     3447   9645.59
4    岩手県  総人口  1279594  15275.01
..   ...  ...      ...       ...
89   NaN  外国人     3693   7735.31
90  鹿児島県  総人口  1648177   9186.94
91   NaN  外国人     5847   9186.94
92   沖縄県  総人口  1433566   2281.12
93   NaN  外国人    11020   2281.12

[94 rows x 4 columns]

## 整然データにする

## 可視化する